 .calc{
    border : 3px solid black;
    background-color: lightpink;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    margin: display;
    display: block;
     
}

.bal{
    color: red;
    border:  3px solid red;
    font-weight: bold;
    font-size: 20px;
    margin: display;
    justify-content: center;

}

.mou{
    color: blue;
    border:  3px solid blue;
    font-weight: bold;
    font-size: 18px;
    margin: display;
    justify-content: center;
    height : 30px;
}

.button{
    color: green;
    border: 3px solid green;



}
